.content
{
    background-color: white;
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    transition: all 0.7s ;
    opacity: 0;
    z-index: 400;
}
.photo:hover .content
{
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    opacity: 1;

}
.photo{
    position: relative;
}
